page-editprofile {
    ion-content.dark-bg.content{
        background-color: #ffefed;
    }
    .logo{
    background: #fc8578;
    text-align: center;
    padding: 40px 20px;
    }
    .logo img{
    width: 160px;
    max-width: 100%;
    }
    .logo h2{
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    }
    ion-label[fixed] {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    margin: 0;
    ion-icon{
        color: #fc8578;
    }
    }
    .list .item-block .item-inner{
    border-bottom: none;
    input{
        margin-left: 0 !important;
    }
    }
    .list .item-block{
    border: none !important;
    background: #fff;
    margin-bottom: 20px;
    }
    .list .item-block:last-child{
    margin-bottom: 0;
    }

    form{
    padding: 30px 20px;
    }
    .forget-remember-area.list .item-block{
    padding: 0 !important;
    background: none;
    }
    .forget-remember-area .item .checkbox{
        margin: 9px 4px 9px 0px;
    }
    .forget-remember-area .label{
    font-size: 14px !important;
    }
    .btn-primary{
    margin-bottom: 15px;
    }
    .btn-primary ion-icon{
    margin-right: 10px;
    }
    .mt-10{
        margin-top: 20px;
    }
    .error {
        color: rgb(223, 62, 62);
        font-size: 11px;
    }
    .add-interest{
        margin-bottom: 15px;
        display: block;
        font-size: 16px;
        ion-icon{margin-right: 5px;}
    }
    .list_height{
        max-height: 200px;
        overflow-y: scroll;
    }
    .custom-autocomplete__dropdown{
        position: relative !important;
    }
    .padding-eight{padding:8px;}
    .add-interest .list .item-block{margin-bottom:0 !important}
    .user-cover-img{
        height: 200px;
        background-size: cover !important;
        background-position: center !important;
        position: relative;
    }
    .user-pic{
        width: 130px;
        height: 130px;
        border-radius: 100%;
        overflow: hidden;
        margin: auto;
        transform: translateY(120px);
        position: relative;
        img{
            width: 130px;
            height: 130px;
            object-fit: cover;
        }
        .file-upload {
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .file-upload__label {
          display: block;
          color: #fff;
          border-radius: .4em;
          transition: background .3s;
          font-size: 40px;
          
          &:hover {
             cursor: pointer;
          }
        }
            
        .file-upload__input {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            font-size: 1;
            width:0;
            height: 100%;
            opacity: 0;
        }
    }
}
